header {
  display: flex;
  padding: 0;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  background-color: blueviolet;
}

.form {
  background-color: white;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.main {
  background-color: white;
  min-height: 800px;
}

.map-container,
.tournament-list {
  padding: 5px;
}

h1,
h2,
h3 {
  font-family: Oswald, serif;
}

.name,
.address {
  height: 1.5rem;
  width: 20rem;
  padding: 6px;
  border-radius: 10px;
  border-width: 1px transparent black;
}

textarea {
  height: 5rem;
  width: 20rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit,
.delete {
  padding: 5px;
  margin-right: 5px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

* {
  font-family: 'Noto Sans', serif;
}

.home {
  margin: 10px;
}

.home-intro {
  padding: 15px;
  background-color: white;
  margin: 0;
}

.home-image {
  margin: 0;
}

.home-image img {
  width: 100%;
}
