header {
  display: flex;
  padding: 0;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  background-color: blueviolet;
}

.container {
  display: flex;
}

.main {
  background-color: white;
  min-height: 800px;
}

.map-container,
.tournament-list {
  padding: 5px;
}
